In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("/Projects/dsin-python/DataSet/iris.csv",header=0)
data.sample(100)

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
59,60,5.2,2.7,3.9,1.4,versicolor
58,59,6.6,2.9,4.6,1.3,versicolor
30,31,4.8,3.1,1.6,0.2,setosa
135,136,7.7,3.0,6.1,2.3,virginica
63,64,6.1,2.9,4.7,1.4,versicolor
...,...,...,...,...,...,...
88,89,5.6,3.0,4.1,1.3,versicolor
54,55,6.5,2.8,4.6,1.5,versicolor
136,137,6.3,3.4,5.6,2.4,virginica
26,27,5.0,3.4,1.6,0.4,setosa
13,14,4.3,3.0,1.1,0.1,setosa

In [7]:
data["Species"]=data["Species"].map({"versicolor":0,"setosa":1,"virginica":2})
data.sample(100)

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
27           28           5.2          3.5           1.5          0.2        1
42           43           4.4          3.2           1.3          0.2        1
56           57           6.3          3.3           4.7          1.6        0
10           11           5.4          3.7           1.5          0.2        1
99          100           5.7          2.8           4.1          1.3        0
..          ...           ...          ...           ...          ...      ...
51           52           6.4          3.2           4.5          1.5        0
102         103           7.1          3.0           5.9          2.1        2
117         118           7.7          3.8           6.7          2.2        2
12           13           4.8          3.0           1.4          0.1        1
44           45           5.1          3.8           1.9          0.4        1

[100 rows x 6 columns]

In [ ]:
class KNN:
    def __init__(self,k):#初始化方法，k是整型表示邻居的个数
        self.k=k
    def fit(self,X,y):
        '''训练方法，只有在预测的时候才会调用，X是用于预测的类似数组、向量，[样本数量，样本特征]
        y是样本数量'''
        self.X=np.array(X)
        self.y=np.array(y)
    def predict(self,X):
        #X是用于预测的类似数组、向量，[样本数量，样本特征]
        #返回预测的结果
        X.np.array(X)
        result=[]